*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: nano;
    cursor: pointer;
}
button:hover{
    color: black;
}

.content{
   color: #fbfcfd;
   position: absolute;
   top: 50%;
   left: 8%;
   transform: translateY(-50%);
   z-index: 2;
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0; 
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-link img, .useful-link img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}
.social-link{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.useful-link{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}

/* --------------------------------------------------------------------------------------------------------------- */
.neon-light{
    width: 15px;
    height: 500px;
    background: transparent;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px 5px #fff,
                inset 0 0 20px#fff,
                0 0 160px 20px #08f,
                inset 0 0 20px #08f,
                0 0 320px 30px #08f,
                inset 0 0 20px #08f;
    animation: run 5s linear infinite;
}

@keyframes run{
    0%{
        left: 10%;
        opacity: 0;
    }
    2%{
        left: 10%;
        opacity: 1;
    }
    4%{
        left: 10%;
        opacity: 0;
    }
    6%{
        left: 10%;
        opacity: 1;
    }
    8%{
        left: 10%;
        opacity: 0;
    }
    10%{
        left: 10%;
        opacity: 1;
    }
    100%{
        left: 90%;
        opacity: 1;
    }
}